[MAIN]
jobs = 0
persistent = yes

[MESSAGES CONTROL]
disable =
    logging-fstring-interpolation,
    broad-exception-caught,
    broad-exception-raised,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-many-nested-blocks,
    no-else-return,
    no-else-continue,
    simplifiable-if-statement,
    inconsistent-return-statements,
    use-a-generator,
    consider-using-with,
    consider-using-max-builtin,
    consider-using-min-builtin,
    protected-access,
    arguments-differ,
    abstract-method,
    duplicate-code,
    consider-using-f-string,
    redefined-outer-name,
    mixed-line-endings

[FORMAT]
max-line-length = 130

[TYPECHECK]
generated-members = cv2.*
